/* large screen size 1070px */

@media (max-width: 1070px) {
  html {
    font-size: 60%;
    background-color: var(--white_color);
  }

  .container {
    padding: 0 60px;
  }

  .imgs_content {
    padding: 2rem 0;
  }

  .from_data {
    width: 70%;
  }

  .header .navbar {
    position: relative;
    left: 0;
  } 

  .header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

  } 
  
}


@media (max-width: 900px) {
  html {
    font-size: 55%;
  }

  .container {
    padding: 0 40px;
  }
/* 
  .btn {
    display: block;
  } */
 
  /* .navbar nav{
    flex-direction: column;
    position: fixed;
    min-width: 100%;
    min-height: 60vh;
    top: 0;
    right: 100%;
    background-color: #000;
    align-items: flex-start;
    justify-content: center;
    transform: all 0.5s ease-in-out;
  }  */

  nav.active {
    right: 0%;
    transform: all 1s ease-in;
  }

  .navbar nav li {
    margin: 2rem 4rem;
  }

  .navbar nav li a {
    font-size: 1.4rem;
    color: var(--white_color);
    position: relative;
  }

  .close-btn {
    position: absolute;
    top: 0;
    left: 90%;
    margin: 25px;
  } 
}

/* 768px */
@media (max-width: 768px) {
  .header .navbar {
    position: relative;
    left: 0;
  }

  .header .navbar {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin: auto;

  }

  .header .navbar.open {
    background-color: transparent;
    width: auto;
    position: absolute;
    left: 0;
    margin-left: 0;
    padding: 0;
  }

  /* .header .menu-button {
    display: none;
  }  */






 .container .navbar {
    position: relative;
    left: 0;
  }
  
  .container .navbar {
    display: flex;
     margin: auto;
  
  }  
  
  .container .navbar.open {
    background-color: transparent;
    width: auto;
    position: absolute;
    left: 0;
    margin-left: 0;
    padding: 0;
  }
  
  .container .menu-button {
    display: none;
  }  
  

  .sp_content {
    grid-template-columns: repeat(1,1fr);
  }

  .from_data {
    width: 100%;
  }

  .from_data form input {
    width: 100%;
  }

  /* Food Lover start */
  .menus_items_container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Food Lover close */

  .btn-cat {
    margin: 1rem 1rem;
  }

  .counters {
    grid-template-columns: repeat(2, 1fr);
  }


  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 520px) {
  /* Food Lover start */
  .menus_items_container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Food Lover close */

  .counters {
    grid-template-columns: repeat(1, 1fr);
  }


  .footer_container {
    grid-template-columns: repeat(1, 1fr);
  }

}


